/* 🦊 Créez vos styles ici */
/* Colors: #62374e, #fdc57b  */
body{
    background-color: #62374e;
}
.ex2 div {
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
    position: relative;
}
.cube-left-t {
    top: 50px;
    left: 50px;
}
.cube-left-b {
    top: 150px;
    left: 50px;
}

.cube-right-t {
    left: 300px;
    bottom: 50px;
}

.cube-right-b {
    left: 300px;
    top: 50px;
}